@model Beca_3._0.Models.RolDescuentoBecas3

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.EgresosFamiliaresBeca3.EgresosFamiliaresID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EgresosFamiliaresBeca3.EgresosFamiliaresID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorOtrosEgresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorOtrosEgresos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
            @Html.ActionLink("Cancelar", "Index", "EgresosFamiliaresBecas", null, new { @class = "btn btn-primary btn-primary" })
        </div>
    }
</div>
