@model Beca_3._0.Models.EgresosFamiliaresBeca3

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EgresosFamiliaresBeca3</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnalisisInicialBeca.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnalisisInicialBeca.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alimentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alimentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Educacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Educacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vestimenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vestimenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arriendo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arriendo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GastosBasicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GastosBasicos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeguroPrivado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeguroPrivado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuotaPrestamos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotaPrestamos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entretenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entretenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viajes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viajes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompraEquipos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompraEquipos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrosEgresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrosEgresos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescuentoRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescuentoRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totalegresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totalegresos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EgresosFamiliaresID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
