@model Beca_3._0.Models.AnalisisInicialBeca

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalisisInicialBeca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresCompletosEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresCompletosEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechasolicitudBeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechasolicitudBeca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacionalidadRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacionalidadRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivilRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivilRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenciaPropia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenciaPropia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneroRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneroRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCelularRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCelularRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoConvencionalRepresentanteFinan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoConvencionalRepresentanteFinan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarTrabajoActualRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajoActualRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoTrabajoActualRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoTrabajoActualRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionTrabajoRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionTrabajoRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroAniosTrabajoActualRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroAniosTrabajoActualRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelEducacionRF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelEducacionRF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacionalidadConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacionalidadConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivilConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivilConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenciaPropiaConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenciaPropiaConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneroConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneroConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCelularConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCelularConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoConvencionalConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoConvencionalConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarTrabajoActualConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajoActualConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoTrabajoActualConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoTrabajoActualConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionTrabajoConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionTrabajoConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroAniosTrabajoActualConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroAniosTrabajoActualConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelEducacionCulminadaConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelEducacionCulminadaConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroHijosConyuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroHijosConyuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependeAlguienMas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependeAlguienMas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresDependientesAdicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresDependientesAdicionales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComentariosAicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentariosAicionales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoInterv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoInterv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SolicitudID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
