@model IEnumerable<Beca_3._0.Models.HijoDependienteBeca3>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnalisisInicialBeca.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombresApellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitucionEsdudia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoAnualEstudio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnalisisInicialBeca.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombresApellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitucionEsdudia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoAnualEstudio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HijoDependienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HijoDependienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HijoDependienteID })
        </td>
    </tr>
}

</table>
